<div class="w-100">
  <div class=" topNav">
    <div class="d-flex w-100 justify-content-between  align-items-center">
      <div class="d-flex align-items-center gap-2 ">
        <img src="../assets/img/Group.png" alt="" class="banner-top">
        <img src="../assets/img/Group.svg" alt="" class="banner-text">
  
      </div>
        <ul class="d-lg-flex d-none pt-3 gap-4 align-items-center">
          <li class="top">Solutions</li>
          <li class="top">Pricing</li>
          <li class="top">Testimonials</li>
          <li class="top">Resourcs</li>
        </ul>
        <div class="d-lg-flex d-none gap-3">
          <button class="primay-btn">Log in</button>
          <button class="secondory-btn">Sign Up for Free</button>
        </div>
        <div class="d-flex d-lg-none">
          <img src="../assets/img/burger.svg" alt="">
          <img src="../assets/img/serch.svg" alt="">
  
        </div>
    </div>
  </div>
  <!-- ----------------------------- blue start -->
  <div class="blueBase">
    <div class="background">
      <div class=" codeImg">
        <div class="imgcod">
          <div class="bg-white pb-0 mb-0 dotim"><img src="../assets/img/codeDots.svg" alt="" class="codeDotImgThre"></div>
          <img src="../assets/img/code.svg" alt="" class="codeimg" >
        </div>
      </div>
      <!-- ----------------- award div  -->
  <div class="bg-white awarddiv">
    <img src="../assets/img/trophy.svg" alt="" class="arIMg">
    <span class="awardText primaryColor d-lg-flex d-none">Award</span><span class="awardText d-lg-flex d-none"> winning</span>
    <div >
      <p class="awardText mb-0 pb-0 primaryColor d-flex d-lg-none">Award</p>
  
        <p class="mb-0 pb-0 awardText d-flex d-lg-none"> winning</p>
    
      
    </div>
  </div>
  
      <!-- ----------------- free account div  -->
      <div class="bg-white freeDiv">
        <div>
          <span class="freeText primaryColor">Free</span><span class="freeText"> Account</span>
          <p class="freeP pb-0 mb-0">Create Free Account for developers</p>
        </div>
      </div>
  
          <!-- ----------------- leads div  -->
          <div class="bg-white leadDiv">
            <div>
              <span class="freeText primaryColor">65</span><span class="freeText">%</span>
              <p class="freeP pb-0 mb-0">Get 65% More leads</p>
            </div>
          </div>
  
             <!-- ----------------- response div  -->
             <div class="bg-white ps-3 responseDiv">
              <div class="resRelative">
                <span class="resText primaryColor">Response</span><p class="resText mb-0 pb-0">Stats</p>
                <img src="../assets/img/resimg.png" alt="" class="resAb">
              </div>
            </div>
  
    <div class=" pt-4 w-100">
      <!-- <div></div> -->
  
        <div class="d-flex justify-content-center">
          <div class="mainIO align-items-center ">
            <p class="mainBlueText white-space ">Become a Referrizer <br>
              API Integration Partner</p>
              <p class="leorText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
              <div class="d-lg-flex justify-content-center btn-align ">
                <button class="primay-btn px-5">Get Started</button>
                <button class="secondory-btn px-5"><img src="../assets/img/playBtnIcon.svg" alt="" class="me-2">Play Video</button>
              </div>
          </div>
          <div class="fle-center">
            <img class="buleright" src="../assets/img/blueright.png" alt="" >
          </div>
  
        </div>
        <!-- <img class="buleright" src="../assets/img/blueright.png" alt=""> -->
    </div>
    <div class="blueHutPosi">
      <img class="buleright" src="../assets/img/blueHut.png" alt="">
    </div>
    </div>
  </div>
  <!-- ----------------------------- blue end -->
  
  <!-- ----------------------------- icon start  -->
  <div class="w-100 mt-5">
    <div class="iconMain">
      <img src="../assets/img/WhatsApp.svg" alt="" class="wtap">
      <img src="../assets/img/maroonFlower.svg" alt="" class="mroonFlower">
      <img src="../assets/img/pinkTheedot.svg" alt="" class="threeDot" >
      <img src="../assets/img/orngeFlowe.svg" alt="" class="orangeFlow">
      <img src="../assets/img/colorfull.svg" alt="" class="colorFull">
      <img src="../assets/img/table.svg" alt="" class="tab">
      <img src="../assets/img/twitter.svg" alt="" class="twitter">
      <img src="../assets/img/orangeThreeDot.svg" alt="" class="orgThree">
      <img src="../assets/img/b.svg" alt="" class="bing">
      <img src="../assets/img/salesForce.svg" alt="" class="salesForce">
      <img src="../assets/img/moun.svg" alt="" class="moun">
      <img src="../assets/img/alignLeg.svg" alt="" class="align">
      <img src="../assets/img/pinkyelloCir.svg" alt="" class="pinkyello">
      <img src="../assets/img/Quora.svg" alt="" class="quar">
  
  
      <div>
        <p class="iconTextSmall pb-0 mb-0">App Partners</p>
        <p class="iconMainText pb-0 mb-0">Join our thriving App Marketplace</p>
        <p class="iconBlow pb-0 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel aliquam, massa nec hendrerit laoreet.</p>
      </div>
    </div>
  </div>
  <!-- ----------------------------- icon end  -->
  <!-- ----------------------------- woman start  -->
    <div class="w-100 d-lg-flex  justify-content-center">
      <div class="womanDiv row d-lg-flex  justify-content-center gap-5">
        <div class="col-lg-5 col-12 mt-5 ">
          <small class="Tnr">Tools & Resourses</small>
          <p class="tno">Tools & Other Resourses</p>
          <p class="emet">Consectetur adipiscing elit, consectetur adipiscing amet.</p>
          <div class=" mt-4">
            <div class="vb "><span class="ms-3">Visual Builder</span></div>
            <div class="blueleftBorder">
              <p class="vl mt-5"><span class="ms-3">Videos library</span></p>
              <p class="womenp ms-3"><span class="">Lorem ipsum dolor sit amet, consectetur laoreet.  Video library of what our customers say, Tutorials, App integration and more.</span></p>
              <small class="Tnr"><span class="ms-3">View More</span></small>
            </div>
            <p class="vb mt-5"><span class="ms-3">Quick Support</span></p>
          </div>
        </div>
        <div class="col-lg-6 col-12 justify-content-right d-lg-flex ">
          <img src="../assets/img/woman.svg" alt="" class="womanClassImg">
        </div>
      </div>
  
    </div>
  <!-- ----------------------------- woman end  -->
  
  
  <!-- ----------------------------- nav bottom start  -->
  
  <div class="navBottom mt-5 d-lg-flex d-none justify-content-center">
    <div class="navMan">
      <div class="d-flex  justify-content-between align-items-start">
        <div class="d-flex  justify-content-left ">
          <img src="../assets/img/mainImg.png" alt="" class="main-nav-img">
        </div>
        <div class="d-flex justify-content-right">
          <table>
            <tr>
              <th>Company</th>
              <th>Solutions</th>
              <th>Resources</th>
              <th>Help</th>
              <th>Partners</th>
            </tr>
            <tr>
              <td>About Us
                <!-- We’re Hiring
                Investors
                Contact -->
  
                </td>
              <td>Customer Lead Generation
                <!-- Customer Retention Boost
                Reputation Manageent
                Marketing Automation
                PartnerUp Network -->
  
                </td>
              <td>Blog
      <!-- Videos
      Case Studies
      Marketplace
      Industries -->
  
      </td>
              <td>Blog
                <!-- Videos
                Case Studies
                Marketplace
                Industries -->
  
                </td>
              <td>Development Partners
                <!-- Affiliate Program
                Partner Offers -->
  
                </td>
            </tr>
            <tr>
              <td>
                 We’re Hiring
                <!--Investors
                Contact -->
  
                </td>
              <td>
                Customer Retention Boost
                <!-- Reputation Manageent
                Marketing Automation
                PartnerUp Network -->
  
                </td>
              <td>
       Videos
      <!--Case Studies
      Marketplace
      Industries -->
  
      </td>
              <td>
                Videos
                 <!--Case Studies
                Marketplace
                Industries -->
  
                </td>
              <td>
                Affiliate Program
                <!-- Partner Offers -->
  
                </td>
            </tr>
            <tr>
              <td>
                Investors
                <!--Contact -->
                </td>
              <td>
                Reputation Manageent
                <!-- Marketing Automation
                PartnerUp Network -->
  
                </td>
              <td>
  
      Case Studies
      <!--Marketplace
      Industries -->
  
      </td>
              <td>
  
                Case Studies
                 <!--Marketplace
                Industries -->
  
                </td>
              <td>
  
                Partner Offers
  
                </td>
            </tr>
            <tr>
              <td>
                Contact
                </td>
              <td>
  
                Marketing Automation
                 <!--PartnerUp Network -->
  
                </td>
              <td>
  
      Marketplace
      <!--Industries -->
  
      </td>
              <td>
                Marketplace
                 <!--Industries -->
  
                </td>
              <td>
                </td>
            </tr>
            <tr>
              <td>
  
                </td>
              <td>
                 PartnerUp Network
  
                </td>
              <td>
      Industries
  
      </td>
              <td>
  
                 Industries
  
                </td>
              <td>
                </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="d-flex  mt-5 justify-content-between" >
        <div class="d-flex gap-3">
          <img src="../assets/img/nav1.svg" alt="">
          <img src="../assets/img/nav2.svg" alt="">
          <img src="../assets/img/nav3.svg" alt="">
          <img src="../assets/img/nav4.svg" alt="">
          <img src="../assets/img/nav6.svg" alt="">
        </div>
        <div class="d-flex gap-5 navData justify-content-right ">
           <p>© 2013-2021 Referrizer Inc.</p>
           <p>Login</p>
           <p>Sign up for free</p>
          </div>
      </div>
    </div>
  
  </div>


  <!-- ----------------------------- nav bottom end  -->

   <div class="navBottom mt-5 d-flex d-lg-none">
    <div class="navMan">
      <div class="d-flex  justify-content-between align-items-start">
        <div class="d-flex justify-content-left">
          <table>
            <tr>
              <th>Company</th>
              <th>Resources</th>
            </tr>
            <tr>
              <td>About Us</td> 
              <td>Blog </td>
            </tr>
            <tr>
              <td>   We’re Hiring </td>
              <td> Videos   </td>
            </tr>
            <tr>
              <td>
                Investors </td>
              
              <td> Case Studies</td>
              
            </tr>
            <tr>
              <td>
                Contact
                </td>
              <td>
  
                Marketing Automation

                </td>
    
            </tr>
          
          </table>
        </div>
        
      </div>
      <div class="d-flex justify-content-left mt-5">
        <table>
          <tr>
            <th>Help</th>
            <th>Partners</th>
          </tr>
          <tr>
            <td>Support</td> 
            <td>Development Partners </td>
          </tr>
          <tr>
            <td> Knowledge Base </td>
            <td>Affiliate Program  </td>
          </tr>
          <tr>
            <td>
              Live Chat </td>
            
            <td> Partner Offer</td>
            
          </tr>
       
        
        </table>
      </div>

      <div class="d-flex justify-content-left mt-5">
        <table>
          <tr>
            <th>Solutions</th>
          </tr>
          <tr>
            <td>Customer Lead Generation</td> 
          </tr>
          <tr>
            <td>Customer Retention Boost</td>
          </tr>
          <tr>
            <td>
              Live Chat </td>            
          </tr>
          <tr>
            <td>
              Reputation Manageent </td>            
          </tr>
          <tr>
            <td>
              Marketing Automation</td>            
          </tr>
          <tr>
            <td>
              PartnerUp Network</td>            
          </tr>
       
        
        </table>
      </div>
      
    
      <div class="navb d-flex align-items-center pt-5 mx-5 justify-content-center">
        <div>
          <div class="d-flex  justify-content-center ">
            <img src="../assets/img/mainImg.png" alt="" class="main-nav-img">
          </div>
          <!-- <div class="d-flex  mt-5 justify-content-between" > -->
            <div class="d-flex gap-3 mt-4 justify-content-around">
              <img src="../assets/img/nav1.svg" alt="">
              <img src="../assets/img/nav2.svg" alt="">
              <img src="../assets/img/nav3.svg" alt="">
              <img src="../assets/img/nav4.svg" alt="">
              <img src="../assets/img/nav6.svg" alt="">
            </div>
            <div class="d-flex gap-5 mt-4 navData justify-content-right ">
              <p>Login</p>
              <p>Sign up for free</p>
            </div>
            <p class="navData mt-3 mb-2">© 2013-2021 Referrizer Inc.</p>
        </div>
        <!-- </div> -->
      </div>
    </div>
  
  </div>

</div>



